In [11]:
import pandas as pd
df = pd.Series([4,8,15,23,42])

In [12]:
print(df)

0     4
1     8
2    15
3    23
4    42
dtype: int64

In [13]:
a=[1,2,45,66,33,55,35,56,564.55,556,356,435,45]

a[2]=23
a.append(22)
a

[1, 2, 23, 66, 33, 55, 35, 56, 564.55, 556, 356, 435, 45, 22]

In [14]:
dict={ "name" : ["alice" ,"bob", "charlie"],
      "age": [25, 30,27],
      "gender" : ["female" , "male" , "female"]}
d= {'A': "S",
   "B":"J"
   }
p = pd.DataFrame(dict)
print(p.loc[0])

name       alice
age           25
gender    female
Name: 0, dtype: object

In [15]:
q4="""Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series?
Explain with an example."""
print(q4)
ans4="""Pandas Series	
One-dimensional	
Homogenous – Series elements must be of the same data type.	
Size-immutable – Once created, the size of a Series object cannot be changed.	
Pandas DataFrame
Two-dimensional
Heterogenous – DataFrame elements can have different data types.
Size-mutable – Elements can be dropped or added in an existing DataFrame."""
print(ans4)

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series?
Explain with an example.
Pandas Series
One-dimensional
Homogenous – Series elements must be of the same data type.
Size-immutable – Once created, the size of a Series object cannot be changed.
Pandas DataFrame
Two-dimensional
Heterogenous – DataFrame elements can have different data types.
Size-mutable – Elements can be dropped or added in an existing DataFrame.

In [16]:
q5="""Q5. What are some common functions you can use to manipulate data in a Pandas 
DataFrame? Can you give an example of when you might use one of these functions?"""
print(q5)
ans5="""value_counts
groupby
loc and iloc
unique and nunique
Cut and qcut
head()
tail()
describe()
"""
print(ans5)
import seaborn as sns
iris = sns.load_dataset("iris")
print(iris.head())
print(type(iris))
iris[["species"]]

Q5. What are some common functions you can use to manipulate data in a Pandas
DataFrame? Can you give an example of when you might use one of these functions?
value_counts
groupby
loc and iloc
unique and nunique
Cut and qcut
head()
tail()
describe()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
<class 'pandas.core.frame.DataFrame'>

       species
0       setosa
1       setosa
2       setosa
3       setosa
4       setosa
..         ...
145  virginica
146  virginica
147  virginica
148  virginica
149  virginica

[150 rows x 1 columns]

In [17]:
q6 ="Q6. Which of the following is mutable in nature Series, DataFrame, Panel?"
print(q6)
ans6 ="""All Pandas data structures are value mutable (can be changed) and except Series all are
size mutable. Series is size immutable."""
print(ans6)

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
All Pandas data structures are value mutable (can be changed) and except Series all are
size mutable. Series is size immutable.

In [24]:
q7="Q7. Create a DataFrame using multiple Series. Explain with an example."
print(q7)
df = pd.DataFrame([iris['sepal_length'],iris['sepal_width']] )
print(df)

Q7. Create a DataFrame using multiple Series. Explain with an example.
              0    1    2    3    4    5    6    7    8    9    ...  140  141  \
sepal_length  5.1  4.9  4.7  4.6  5.0  5.4  4.6  5.0  4.4  4.9  ...  6.7  6.9
sepal_width   3.5  3.0  3.2  3.1  3.6  3.9  3.4  3.4  2.9  3.1  ...  3.1  3.1

              142  143  144  145  146  147  148  149
sepal_length  5.8  6.8  6.7  6.7  6.3  6.5  6.2  5.9
sepal_width   2.7  3.2  3.3  3.0  2.5  3.0  3.4  3.0

[2 rows x 150 columns]